openapi: 3.0.0
tags:
  - name: listings
    description: Endpoints for reading Listing data
  - name: properties
    description: Endpoints for reading Property data
info:
  title: Properties API
  version: ''
  description: Endpoints for viewing Properties and their associated Listings.
  contact:
    url: 'https://hospitable.com'
    email: hello@hospitable.com
servers:
  - url: 'https://api.hospitable.com'
    description: Property & listing endpoints
paths:
  /listings:
    get:
      summary: Get Listings
      tags:
        - listings
        - read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ../../models/listing.20210308.yaml
                  _pagination:
                    $ref: ../../models/pagination.yaml
                required:
                  - data
                  - _pagination
              examples:
                Example:
                  value:
                    data:
                      - id: '12345'
                        property_id: 123
                        provider: AIRBNB
                        name: Relaxing Villa near the sea
                        picture: 'https://cdn2.thecatapi.com/images/d9m.jpg'
                        currency: EUR
                        address:
                          apartment: 37a
                          street: Senefelderplatz
                          city: Berlin
                          state: ''
                          country: DE
                          postcode: '10405'
                          coordinates:
                            latitude: 50.8514786
                            longitude: 4.364562
                          display: '37a Senefelderplatz, 10405 Berlin, DE'
                        timezone: '+0200'
                        available: true
                        checkin: '16:00 +0200'
                        checkout: '10:00 +0200'
                        capacity:
                          max: 8
                          bedrooms: 4
                          beds: 4
                          bathrooms: 3
                        rating: 4.3
                        _meta:
                          rel: listing
                          version: '20190902'
                      - id: 123.53341.5415
                        provider: HOMEAWAY
                        name: Cozy apartment in the mountains
                        picture: 'https://cdn2.thecatapi.com/images/d9m.jpg'
                        address:
                          apartment: 37a
                          street: Senefelderplatz
                          city: Berlin
                          state: ''
                          country: DE
                          postcode: '10405'
                          coordinates:
                            latitude: 50.8514786
                            longitude: 4.364562
                          display: '37a Senefelderplatz, 10405 Berlin, DE'
                        timezone: '+0200'
                        available: true
                        checkin: '14:00 +0200'
                        checkout: '09:00 +0200'
                        capacity:
                          max: 4
                          bedrooms: 1
                          beds: 2
                          bathrooms: 1
                        rating: 3.4
                        _meta:
                          rel: listing
                          version: '20190902'
                    _pagination:
                      total: 102
                      count: 2
                      per_page: 2
                      current_page: 2
                      total_pages: 51
      operationId: get-listings
      description: |-
        Get all listings that are on channels connected to your hospitable account.

        ### Allowed Includes

        (none)

        ### Example

        ```bash
        curl -H 'Content-Type: application/vnd.hospitable.20190904+json' \
             -H 'Authorization: Bearer <API TOKEN>' \
          'https://api.hospitable.com/listings'
        ```
      security:
        - OAuth2:
            - 'read:calendar'
  '/listings/{listingId}':
    parameters:
      - name: listingId
        in: path
        required: true
        description: The ID of the listing to retrieve the calendar for
        schema:
          type: string
    get:
      summary: Get Listing by ID
      tags:
        - listings
        - read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ../../models/listing.20210308.yaml
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      id: '12345'
                      property_id: 123
                      provider: AIRBNB
                      name: Relaxing Villa near the sea
                      picture: 'https://cdn2.thecatapi.com/images/d9m.jpg'
                      currency: EUR
                      address:
                        apartment: 37a
                        street: Senefelderplatz
                        city: Berlin
                        state: ''
                        country: DE
                        postcode: '10405'
                        coordinates:
                          latitude: 50.8514786
                          longitude: 4.364562
                        display: '37a Senefelderplatz, 10405 Berlin, DE'
                      timezone: '+0200'
                      available: true
                      checkin: '16:00 +0200'
                      checkout: '10:00 +0200'
                      capacity:
                        max: 8
                        bedrooms: 4
                        beds: 4
                        bathrooms: 3
                      rating: 4.3
                      _meta:
                        rel: listing
                        version: '20190902'
      operationId: get-listing-by-id
      description: |-
        Get a listing from one of your channels by its listing ID

        ###

        ### Allowed Includes

        (none)

        ### Example

        ```bash
        curl -H 'Content-Type: application/vnd.hospitable.20210222+json' \
             -H 'Authorization: Bearer <API TOKEN>' \
          'https://api.hospitable.com/listings/{listingId}?provider=airbnb'
        ```
      security:
        - OAuth2:
            - 'read:calendar'
      parameters:
        - $ref: '#/components/parameters/provider-required'
  /properties:
    get:
      summary: Get properties
      tags:
        - properties
        - read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ../../models/property.20210308.yaml
                  _pagination:
                    $ref: ../../models/pagination.yaml
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      - id: '123456'
                        name: Room with a view of a tree
                        picture: 'https://cdn2.thecatapi.com/images/d9m.jpg'
                        currency: EUR
                        address:
                          apartment: 37a
                          street: Senefelderplatz
                          city: Berlin
                          state: ''
                          country: DE
                          postcode: '10405'
                          coordinates:
                            latitude: 50.8514786
                            longitude: 4.364562
                          display: '37a Senefelderplatz, 10405 Berlin, DE'
                        timezone: '+0200'
                        listings: 2
                        listed: true
                        features:
                          sync: false
                          heartbeats: true
                          stealth: false
                    _pagination:
                      total: 102
                      count: 2
                      per_page: 2
                      current_page: 2
                      total_pages: 51
      operationId: get-properties
      description: |-
        Get all the properties from your account

        ### Allowed Includes

        - listings

        ### Example

        ```bash
        curl -H 'Content-Type: application/vnd.hospitable.20191201+json' \
             -H 'Authorization: Bearer <API TOKEN>' \
          'https://api.hospitable.com/properties'
        ```
      security:
        - OAuth2:
            - 'read:calendar'
      parameters:
        - schema:
            type: string
            enum:
              - listings
          in: query
          name: include
          description: Other entities to include
  '/properties/{propertyId}':
    parameters:
      - name: propertyId
        in: path
        required: true
        description: The ID of the property to retrieve
        schema:
          type: string
    get:
      summary: Get property by ID
      tags:
        - properties
        - read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ../../models/property.20210308.yaml
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      id: '123456'
                      name: Room with a view of a tree
                      picture: 'https://cdn2.thecatapi.com/images/d9m.jpg'
                      currency: EUR
                      address:
                        apartment: 37a
                        street: Senefelderplatz
                        city: Berlin
                        state: ''
                        country: DE
                        postcode: '10405'
                        coordinates:
                          latitude: 50.8514786
                          longitude: 4.364562
                        display: '37a Senefelderplatz, 10405 Berlin, DE'
                      timezone: '+0200'
                      listings: 2
                      listed: true
                      features:
                        sync: false
                        heartbeats: true
                        stealth: false
                      _meta:
                        rel: property
                        version: '20191121'
      operationId: get-property-by-id
      description: |-
        Get a property by its unique ID

        ### Allowed Includes

        - `listings`: Include the individual listings associated with that property

        ### Example

        ```bash
        curl -H 'Content-Type: application/vnd.hospitable.20191201+json' \
             -H 'Authorization: Bearer <API TOKEN>' \
          'https://api.hospitable.com/properties/{propertyId}'
        ```
      parameters:
        - schema:
            type: string
            enum:
              - listings
          in: query
          name: include
          description: Other entities to include
      security:
        - OAuth2:
            - 'read:calendar'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.hospitable.com/oauth/token'
          scopes:
            'read:calendar': read calendar data
  parameters:
    provider-required:
      name: provider
      in: query
      required: true
      schema:
        type: string
        enum:
          - airbnb
          - homeaway
          - booking
      description: The provider for a listing.
    provider-optional:
      name: provider
      in: query
      required: false
      schema:
        type: string
        enum:
          - airbnb
          - homeaway
          - booking
      description: The provider for a listing.
