openapi: 3.0.0
tags:
  - name: calendar
    description: Belongs to the Calendar API
  - name: read
    description: 'The endpoint only reads, and does not manipulate data.'
  - name: write
    description: This endpoint will write data. Use with caution.
  - name: alpha
    description: This endpoint is still in VERY EARLY ALPHA and should be treated with caution.
info:
  title: Calendar API
  version: ''
  description: 'Endpoints for viewing and manipulating data in listing calendars, including Reservations, Availability, and Pricing.'
  contact:
    url: 'https://hospitable.com'
    email: hello@hospitable.com
servers:
  - url: 'https://api.hospitable.com/calendar'
    description: Calendar endpoints
paths:
  /reservations:
    get:
      summary: Get Reservations
      tags:
        - calendar
        - read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ../../models/reservation.20190904.yaml
                  _pagination:
                    $ref: ../../models/pagination.yaml
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      - uuid: 48b62e97-91bf-4c6f-af49-6dc71c16a16a
                        guest_uuid: 32a46404-1fca-49b4-966e-c88a76886135
                        listing_id: '12345'
                        provider: AIRBNB
                        reservation_code: ABSDHEUSHM
                        status: ACCEPTED
                        actionable: true
                        booked_at: '2019-08-17T16:23:54+02:00'
                        instant_booked: true
                        nights: 2
                        occupancy:
                          adults: 2
                          children: 2
                          pets: 0
                          infants: 0
                        checkin: '2019-07-22'
                        checkout: '2019-07-24'
                        subtotal:
                          amount: 19700
                          currency: EUR
                        _included:
                          - rel: guest
                            data:
                              uuid: 32a46404-1fca-49b4-966e-c88a76886135
                              first_name: Margaret
                              last_name: Hamilton
                              email: mags@gmx.de
                              phone: +44 1925 639 683
                    _pagination:
                      total: 1
                      count: 1
                      per_page: 10
                      current_page: 1
                      total_pages: 1
      operationId: get-reservations
      description: |-
        Given properties and (optionally) check-in dates, returns a filtered list of reservations.

        ### URL parameters

        - `properties[]`: Array of property IDs to get reservations for - use as: `?properties[]=123&properties[]=456`. These are the IDs that are available in hospitable, and you can also get them from the `GET /properties` endpoint.
        - `start_date`: Optional, find reservations with check-in dates after this day. Y-m-d format, defaults to today.
        - `end_date`: Optional, find reservations with check-in dates before this day. Y-m-d format, defaults to `start_date` + 14 days.


        ### Allowed Includes

        - `guest`

        ### Example

        ```bash
        curl -H 'Content-Type: application/vnd.hospitable.20210721+json' \
             -H 'Authorization: Bearer <API TOKEN>' \
          'https://api.hospitable.com/calendar/reservations?properties[]=123456&properties[]=654321&start_date=2019-08-31&end_date=2019-09-30'
        ```
      parameters:
        - schema:
            type: string
            enum:
              - guest
          in: query
          name: include
        - schema:
            type: array
          in: query
          name: properties
          description: Array of property IDs to query for.
          required: true
        - schema:
            type: string
            format: date
            pattern: '\d{4}-\d{2}-\d{2}'
            example: '2020-02-20'
          in: query
          name: start_date
          description: Find reservations with check-in dates after this day.
        - schema:
            type: string
            format: date
            pattern: '\d{4}-\d{2}-\d{2}'
            example: '2020-02-28'
          in: query
          name: end_date
          description: Find reservations with check-in dates before this day.
      security:
        - OAuth2:
            - 'read:calendar'
  '/{propertyId}':
    get:
      summary: Get Calendar
      tags:
        - calendar
        - read
      parameters:
        - name: propertyId
          in: path
          required: true
          description: The ID of the property to retrieve the calendar for
          schema:
            type: string
        - schema:
            type: string
            format: date
            example: '2020-12-25'
          in: query
          name: start_date
          description: Date to pull the calendar from.
        - schema:
            type: string
            format: date
            example: '2020-12-25'
          in: query
          name: end_date
          description: Date to pull the calendar to.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ../../models/calendar.20191127.yaml
              examples:
                Example:
                  value:
                    data:
                      listing_id: 121.9876543.1234567
                      provider: HOMEAWAY
                      start_date: '2020-01-11'
                      end_date: '2020-01-13'
                      days:
                        - date: '2020-01-11'
                          day: SATURDAY
                          min_stay: 2
                          status:
                            reason: AVAILABLE
                            available: true
                          price:
                            amount: 130000
                            currency: EUR
                        - date: '2020-01-12'
                          day: SUNDAY
                          min_stay: 3
                          status:
                            reason: BLOCKED
                            available: false
                          price:
                            amount: 130000
                            currency: EUR
                        - date: '2020-01-13'
                          day: MONDAY
                          status:
                            reason: RESERVED
                            available: false
                          price:
                            amount: 120050
                            currency: EUR
                      _meta:
                        rel: calendar
                        version: '20190611'
      operationId: get-calendar
      description: |
        Given a Property ID, returns the Pricing and Availability in calendar format.

        The returned pricing will show the take-home price of a Listing within the requested Property - so with any markups removed. Note that if your prices vary between Providers or Listings, and this isn't accounted for by your markup rates, you may not see the prices you expect; it's recommended to account for price differences by setting markup prices from within the Hospitable web application.

        ### URL parameters

        - `start_date`: Optional, start date for the calendar range in `Y-m-d` format, defaults to today.
        - `end_date`: Optional, end date for the calendar range in `Y-m-d` format, defaults to `start_date` + 14 days.


        ### Allowed Includes

        None.

        ### Example

        ```bash
        curl -H 'Content-Type: application/vnd.hospitable.20210330+json' \
             -H 'Authorization: Bearer <API TOKEN>' \
          'https://api.hospitable.com/calendar/123456?start_date=2019-08-31&end_date=2019-09-30'
        ```
      security:
        - OAuth2:
            - 'read:calendar'
    put:
      summary: Update Calendar
      operationId: put-calendar
      responses:
        '202':
          description: 'Your request has been accepted and placed onto a queue to be dealt with asynchronously. In most cases, this means a few seconds.'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: ../../models/error.yaml
              examples:
                409 Response:
                  value:
                    status_code: 409
                    reason_phrase: 'No markup price found for listing 12345 was found, refusing to set price for a property without a markup'
      description: |-
        Given a Property ID, update pricing, availability, and minimum stay for the given dates. This request is handled asynchronously, and therefore the pricing on your listings may take a few seconds to update after receiving a response.

        Please note that:

        1. Pricing, availability, and minimum stay for all listings within that Property will be updated, not just for one.
        2. Pricing is sent in the currency for your property, and should be sent as an integer in the lowest denomination of the currency (so $12.34 becomes 1234). Be aware that different providers may handle this pricing differently - for example Airbnb rounds pricing down to the nearest dollar.
        2. A Markup will be applied to each price. This markup must be pre-configured in the Hospitable web application first. Wihout this pre-configuration, this endpoint will fail with a `409 Conflict` response.


        **Please note that updating availability for HomeAway is, at this time, not functional, and therefore for listings on HomeAway the `available` boolean value in the payload is ignored. You may update pricing and minimum stay for HomeAway as normal, though.**

        ### Example

        ```bash
        curl -X PUT \
          https://api.hospitable.com/calendar/123456 \
          -H 'Authorization: Bearer <TOKEN>' \
          -H 'content-type: application/vnd.hospitable.20210330+json' \
          --data '[
            {
              "date": "2020-01-11",
              "available": true,
              "min_stay": 3,
              "price": {
                "amount": 7700,
              }
            },
            {
              "date": "2020-01-12",
              "available": true,
              "price": {
                "amount": 7800,
              }
            }
        ]'
        ```
      tags:
        - calendar
        - write
        - alpha
      security:
        - OAuth2:
            - 'write:calendar'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                description: Representation of a Day
                properties:
                  date:
                    type: string
                    format: date
                    example: '2020-01-31'
                    description: 'The date to set pricing and availability for, in Y-m-d format.'
                  available:
                    type: boolean
                    description: Whether the day should be available for booking. Omit if you want to leave as-is in the provider.
                  price:
                    type: object
                    required:
                      - amount
                    properties:
                      amount:
                        type: integer
                        description: Integer representation of the amount of money in question. E.g. $1.01 is represented as 101. $85 is represented as 8500.
                  min_stay:
                    type: integer
                    description: 'The minimum stay duration, in nights, for this date.'
                    minimum: 1
                required:
                  - date
                  - price
            examples:
              Example with pricing and availabiliy:
                value:
                  - date: '2020-01-11'
                    available: true
                    price:
                      amount: 7700
                  - date: '2020-01-12'
                    available: true
                    price:
                      amount: 7800
              Example with pricing only:
                value:
                  - date: '2020-01-11'
                    price:
                      amount: 7700
                  - date: '2020-01-12'
                    price:
                      amount: 7800
              Example with minimum stay:
                value:
                  - date: '2021-11-11'
                    min_stay: 10
                    price:
                      amount: 21900
                  - date: '2021-11-02'
                    price:
                      amount: 20900
        description: |
          The request payload should be an array of days including pricing and availability version. There are some constraints on this:

          - The price must be sent in the listing's default currency.
          - The endpoint will not accept more than 60 dates to update at once.
          - It is not required, but _highly recommended_ to use contiguous days if possible. This allows us to batch the requests we make to providers.
      parameters: []
    parameters:
      - schema:
          type: string
        name: propertyId
        in: path
        required: true
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.hospitable.com/oauth/token'
          scopes:
            'read:calendar': read calendar data
            'write:calendar': write calendar data
